/* CSS styling */

* {
    font-family:'Times New Roman', Times, serif;
    background-color: palevioletred;

}

.title-container {
    margin: 8px auto;
    text-align: center;

}
.Title {
    box-sizing: border-box;
    width: 100%;
    border: solid whitesmoke 2.5px;
    padding: 5px;
    background-color: palegoldenrod;
}

.Odin-Recipes {
    background-color: palegoldenrod;
}