/* CSS styling */

* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: peachpuff;

}

.title-container {
    margin: 8px auto;
    text-align: center;
    

}
.Title {
    box-sizing: border-box;
    width: 100%;
    border: solid whitesmoke 2.5px;
    padding: 5px;
    background-color: palegoldenrod;
    
}

.Odin-Recipes {
    background-color: palegoldenrod;
    font-family:'Times New Roman', Times, serif;
}

p {
    box-sizing: content-box;
    width: 100%;
    padding: 5px;
}

li {
    box-sizing: content-box;
    padding: 5px;
}

a {
    color: palegoldenrod;
    font-size: 15px;
    background-color: black;
    border: none;
}

button {
    box-sizing: border-box;
    background-color: black;
    border: none;
    margin-left: 10px;

}

ul {
    list-style-type: none;
}

ul li:before {
    content: "\01F37D";
    color: black;
    padding-right: 10px;
}